body *{
    box-sizing: boder-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body{
    height: 100%;
}

html {
    background: url(https://the18.com/sites/default/files/styles/feature_image_with_focal/public/feature-images/20170926-The18-Image-Lionel-Messi-Man-Marking.jpg?itok=1t5nDmkV)
    no-repeat center fixed;
    background-size: cover;
}

h1, h2 {
    color: #ff3333;
    text-align: center;
    background-color:  #003399;
}

h1{
    font-size: 40px;
    margin-bottom: 10px;
}

h2{
    font-size: 30px;
    margin-top: 230px;
}

#start-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button{
    display: block;
    min-width: 200px;
    min-height: 75px;
    margin-top: 300px;
    font-size: 35px;
    border-radius: 3px;
    color: white;
    background-color: green;
}

button:hover {
    background-color: #b78338;
    cursor: pointer;
}

#question-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



fieldset {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10%;
	min-height: 500px;
	border: none;
}

label {
    margin-bottom: 10px;
    font-size: 50px;
}

#js-submit-button {
	width: 50%;
	margin-left: auto;
    margin-right: auto;
}

